:root {
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #ffffff;
}

.text-preset-1 {
    font-family: "Young Serif", serif;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
}

.text-preset-2 {
    font-family: "Young Serif", serif;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
}

.text-preset-3 {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
}

.text-preset-4 {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
}

.text-preset-4--bold {
    font-weight: bold;
}